
<div class="container">
	<div class="page-header">
	</div>
			<h1>Generate Your Personal Vard (Virtual Business Card) by clicking below</h1>

	<p class="lead"><%= link_to image_tag('linkedinlong310W.png', id: 'linkedin-login-image', alt: 'Sign in with Linkedin'), user_omniauth_authorize_path(:linkedin) %>


</div>
